<!DOCTYPE html>
<html lang="en">
<style>
  .linkbutton {
    background-color: #73b5f2;
    color: black;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    }
</style>
    <head>
        <meta charset="UTF-8">
        {% if title %}
        <title>{{ title }} - Cryptocurrency Analysis</title>
        {% else %}
        <title>Welcome to Cryptocurrency Analysis</title>
        {% endif %}
    </head>
    <body>
        <div>
            <a class="linkbutton" href="/">Home</a>
            <a class="linkbutton" href="/">Investment Calculation</a>
            <a class="linkbutton" href="/404">Help</a>
        </div>

        <hr>
        {% block content %}{% endblock %}
    </body>
</html>