{% extends "base.html" %}

{% block content %}
<!--This is the header of the error page-->
<h2>Cryptocurrency Predictions</h2>

<p>Please select a cryptocurrency below to see our prediction of how it will perform. (You may only select one cryptocurrency investment at a time)</p>
<form method="POST">
    <input type="submit", formaction="500" style="visibility: hidden; display: none;">
    Pick Your Coin:
    <select name="ChooseCoin">
        <option value="BTC">BTC</option>
        <option value="XRP">XRP</option>
        <option value="ETH">ETH</option>
        <option value="XLM">XLM</option>
        <option value="USDT">USDT</option>
        <option value="BCH">BCH</option>
        <option value="BSV">BSV</option>
        <option value="EOS">EOS</option>
        <option value="LTC">LTC</option>
        <option value="TRX">TRX</option>
    </select>
<br><br>
    Pick Your Investment Date:
    <input type="date" name="predictDate">
<br><br>
    Pick the Date of Divestment:
    <input type="date" name="divestDate">
<br><br>
    <div>
        <button formaction="/predictions">Show me the predictions</button>
    </div>

    <div>
        <p>Please note that predictions can take a long time to load.</p>
        <br>
        <p>In addition, if you select a date too far in the future, you might get a null value for your prediction. </p>
    </div>
</form>

<br><br>

{% endblock %}