{% extends "base.html" %}

{% block content %}
<!--This is the header of the page-->
<h2>I reverted the code and it is working... The results are:</h2>
<!--This is the dynamic text which tells a user how their investment has performed based on their input-->
<p>If you invested {{ much }} in {{ what }} on {{ when }} that would now be worth {{ moola }}</p>
<!--This is the image of the return graph being included-->
<img src="data:image/png;base64, {{ graph_url }}">
<br><br><br><br>
<footer>
    <i>Created by Ryne Kitzrow and Max (Gang Ping) Zhu as part of FE-595. Last updated in November 2018.</i>
</footer>
{ % endblock %}