{% extends "base.html" %}

{% block content %}

<!--This is the name of the page-->
<h2>Cryptocurrency Investment Adviser</h2>
<p>Welcome to the cryptocurrency investment adviser tool. Please make selection below related to your investment cryptocurrency interests.</p>
<!--This is the start of the form which will collect coin, investment, and date info-->
<div class="text_center">
    <p><h3>Are you invested in Crypto?</h3></p>
</div>

<!-- This form re-directs current investors and future investors to different pages -->
    <form id="entry_form" method="POST" >
        <div id="center">
                <input type="submit" name="investor" value="Current Investor" class="button_space" formaction="/CurrentInvestor">
                <input type="submit" name="investor" value="Future Investor" class="button_space" formaction="/FutureInvestor">
        </div>
   </form>

{% endblock %}