{% extends "base.html" %}

{% block content %}
<!--This is the name of the page-->
<h2>Cryptocurrency Investment Calculator</h2>
<!--This is the form instruction-->
<p>Pick a cryptocurrency, an investment value, and an investment date to learn what that investment would be worth today</p>
<!--This is the start of the form which will collect coin, investment, and date info-->
<form action="/results" method="POST">
<!--This form will supply data via POST to the FinalProj.py file. The data will be used to dynamically call the API-->
<!--coin is selected here-->
  Pick Your Coin:
  <select name="selectCoin">
    <option value="BTC">BTC</option>
    <option value="LTC">LTC</option>
    <option value="ETH">ETH</option>
  </select>
<br>
<br>
<!--investment value is selected here-->
  Pick Your Investment (in USD):
  <input type="number" name="investValue" min="1" max="1000000000000000" />
<br>
<br>
<!--Investmetn date is selected here-->
  Pick Your Investment Date:
  <input type="date" name="investDate">
 <br>
 <br>
 <br>

<!--The form is submitted with this button-->
  <input type="submit" value="Submit"/>
</form>
<br>
<br>
<strong>Note:</strong>
<!--These notes are here for the user to prevent calculation errors-->
<br>
When selecting BTC the earliest possible investment date is 4/7/2013
<br>
When selecting LTC the earliest possible investment date is 10/24/2013
<br>
When selecting ETH the earliest possible investment date is 8/7/2015
<br><br><br><br>
<footer>
    <i>Created by Ryne Kitzrow and Max (Gang Ping) Zhu as part of FE-595. Last updated in November 2018.</i>
</footer>
{% endblock %}