{% extends "base.html" %}

{% block content %}
<!--This is the name of the page-->
<h2>Step 1: How has your existing investment performed?</h2>
<!--This is the form instruction-->
<p>Select your cryptocurrency, your investment value, and your investment date to learn its current value
    (You may only select one cryptocurrency investment at a time)</p>
<!--This is the start of the form which will collect coin, investment, and date info-->
<form action="/results" method="POST">
<!--This form will supply data via POST to the FinalProj.py file. The data will be used to dynamically call the API-->
<!--coin is selected here-->
  Pick Your Coin:
  <select name="selectCoin">
    <option value="BTC">BTC</option>
    <option value="XRP">XRP</option>
    <option value="ETH">ETH</option>
    <option value="XLM">XLM</option>
    <option value="USDT">USDT</option>
    <option value="BCH">BCH</option>
    <option value="BSV">BSV</option>
    <option value="EOS">EOS</option>
    <option value="LTC">LTC</option>
    <option value="TRX">TRX</option>
  </select>
<br>
<br>
<!--investment value is selected here-->
  Pick Your Investment (in USD):
  <input type="number" name="investValue" min="1" max="1000000000000000" />
<br>
<br>
<!--Investmetn date is selected here-->
  Pick Your Investment Date:
  <input type="date" name="investDate">
 <br>
 <br>
 <br>

<!--The form is submitted with this button-->
  <input type="submit" value="Submit"/>
</form>
<br>
<br>
<strong>Note:</strong>
<!--These notes are here for the user to prevent calculation errors-->
<br>
When selecting BTC the earliest possible investment date is 4/7/2013
<br>
When selecting XRP the earliest possible investment date is 1/21/2015
<br>
When selecting ETH the earliest possible investment date is 8/7/2015
<br>
When selecting XLM the earliest possible investment date is 1/17/17
<br>
When selecting USDT the earliest possible investment date is 1/9/15
<br>
When selecting BCH the earliest possible investment date is 8/1/2017
<br>
When selecting BSV the earliest possible investment date is 11/19/2018
<br>
When selecting EOS the earliest possible investment date is 6/29/2017
<br>
When selecting LTC the earliest possible investment date is 10/24/2013
<br>
When selecting TRX the earliest possible investment date is 10/10/2017


<br><br><br><br>
<footer>
    <i>Created by Ryne Kitzrow and Max (Gang Ping) Zhu as part of FE-595. Last updated in December 2018.</i>
</footer>
{% endblock %}